body {
	font-family: 'Montserrat';
}

.navbar {
	background-color: #171717;
}

.nav-item {
	margin-right: 24px;
	font-weight: 200;
}

.nav-item.active a {
	font-weight: 600;
	color: #f9b234 !important;
} 

.nav-link span {
	color: #f9b234 !important;
	font-weight: 600;
}

/*carousel*/
.carousel {
	height: 450px;
	background-color: #171717;
	color: white;
}

.carousel h1 {
	font-family: 'lora';
}

.carousel p {
	font-weight: 200;
}

.features h3, .designer h3, .similar-product h3, .cart-header h3, .modal h3, .designer-category h3 {
	font-family: 'Lora';
	color: #1b2690;
	font-weight: bold;
}

.features p, .designer p, .similar-product p, .cart-header p, .designer-category p {
	font-weight: 200;
	color: #b7b7b7;
}

.figure h5 {
	font-weight: 600;
	color: #171717;
}

.designer-category h5 {
	font-weight: 400;
}

.figure-img {
	position: relative;
}

.figure-img a {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 8px;
	background-color: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity 0.3s;
}

.figure-img:hover a {
	opacity: 1;
}

/*breadcrumb*/
.breadcrumb {
	margin-top: 100px;
}

.cart-breadcrumb {
	margin-top: 50px;
}

.product-thumbnail-container {
	background-color: white;
	box-shadow: 0 4px 15px rgba(0,0,0,0.1);
	width: 386px;
	padding: 8px;
	margin: auto;
	transform: translateY(-50px);
}

.product-thumbnail-container a:hover {
	text-decoration: none;
}

.btn-product {
	margin: 50px 0;
}

.btn-product .btn {
	display: block;
	margin: 10px 0;
	width: 210px;
}

.designed-by h5 {
	font-size: 14px;
	font-weight: 200;
	color: #b7b7b7;
}

.designed-by h4 {
	font-size: 18px;
	color: #171717;
}

.designed-by p {
	font-size: 14px;
	font-weight: 200;
	color: #171717;
}

.designed-by p span {
	color: #b7b7b7;
}

/*product description*/
.product-description {
	background-color: #f6f7fb;
	height: 350px;
}

.product-description .tab-content {
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-top: 0;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
	font-size: 14px;
	font-weight: 200;
	color: #868686;
	line-height: 28px;
}

.product-description h5 {
	margin-bottom: 0;
}

.product-description .tab-content  {
	height: 330px;
	overflow: scroll;
}

.similar-product, .category {
	margin-top: 140px;
	margin-bottom: 100px;
}

.card-title {
	color: #171717;
	font-size: 22px;
	font-weight: 400;
}

.checkout-detail {
	background-color: #f6f7f8;
	border: 1px solid #eaeaea;
}






